<!DOCTYPE html>

<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
        <!-- <header>HEADER page</header> -->
        <%-include('_header');%> 
        <h2>Rendered from view engine/<%=title%></h2>
        <%-include('_footer');%> 
        <!-- <footer>FOOTER page</footer> -->
    </body>
</html>