<!DOCTYPE html>

<html>
    <head>
        <title>
            <%=title%>
        </title>
        <link rel="stylesheet"  href="/css/layout.css">
        
    </head>
    <body>
        
         <%-include('_header');%> 
         <%-body%>
         
        
         <%-include('_footer');%> 
        
    </body>
</html>

<!---in layout header and footer are common for all pages so instead witing code again and again we use layout concept
-->